$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-image: url("https://kinsta.com/wp-content/uploads/2017/04/change-wordpress-url-1.png");
}
